<!DOCTYPE html>
<html>
<head>
	<title>Delete Game</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
	<h1 class="w3-margin">Are you sure you want to delete {{ "'"+pcgame.name+"'"}}?</h1>
	<form action="{{ url_for('deleteGame', game_type_id = game_type.id, game_id = pcgame.id) }}" method="POST">
		<div class="w3-margin w3-card-4" style="width: 50%;">
			<div class="w3-container w3-teal">
				<h2>Delete</h2>
			</div>
			<div class="w3-padding w3-margin w3-center">
				<input class="w3-btn w3-red" type="submit" value="Delete">
				<a class="w3-btn w3-green" href="{{ url_for('showGames', game_type_id = game_type.id) }}">Cancel</a>
			</div>
		</div>
	</form>
</body>
</html>