<!DOCTYPE html>
<html>
<head>
	<title>Game Types</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
	<div class="w3-margin">
		<h1>Types of Games</h1>
	</div>
	<a class="w3-btn w3-blue w3-margin-left w3-margin-right" href="{{ url_for('showLogin') }}">Login</a><br>
	{% for game_type in game_types %}
	<div class="container" style="width: 50%; float: left;">
		<div class="w3-card-4 w3-black w3-panel w3-margin w3-padding w3-border-red w3-leftbar">
			<div class="w3-card-4 w3-panel">
				<h2>{{ game_type.name }}</h2>
				<a class="w3-btn w3-green" href="{{ url_for('showGames', game_type_id = game_type.id) }}">View Games</a>
			</div>
		</div>
	</div>
	{% endfor %}
</body>
</html>